
<div class="container-fluid dashboard-container">

  <div class="row title-container">
    <div class="col-sm p-0">
      <h1>Gestão Conta PI</h1>
      <h2>Participantes Indiretos</h2>
    </div>
  </div>

  <app-saldos></app-saldos>
  <app-fluxo-de-caixa></app-fluxo-de-caixa>

  <div class="row table-and-tickets-container">

    <div class="col-sm-4 table-and-tickets-box">
      <p>Chamados</p>
      <app-chamados></app-chamados>
    </div>

    <div class="col-sm ms-3 table-and-tickets-box">
      <p>Lançamentos Agendados</p>
      <app-dynamic-table [tableData]="tableData" [columnsToDisplay]="columnsToDisplay" [csvName]="'lançamentos-agendados'"></app-dynamic-table>
    </div>

  </div>

</div>
