@use 'custom-theme' as *;

.navbar {
  padding: 0.5rem 1rem;
  box-shadow: -2px 3px 6px $primary-one;
  margin-bottom: 0.5rem;

  & #nav-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $primary-one;
  }
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 2rem;
    margin-right: 1rem;
    color: $grey-one;
    padding: 0 0.5rem;
    transition: 0.4s ease-out;
  }

  & i:hover {
    color: $primary-one;
    background-color: $primary-three;
    transition: 0.4s ease-in;
    border-radius: 50%;
  }
}

