
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">
    <i class="bi bi-list" data-bs-toggle="offcanvas" href="#MainOffcanvasMenu" role="button" aria-controls="offcanvasMenu"></i>
    <span>Fourbank - SPI</span>
  </span>
  <i id="nav-profile-default-icon" class="bi bi-person-circle"></i>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="MainOffcanvasMenu" aria-labelledby="offcanvasContainer">

  <div class="offcanvas-header">
    <img ngSrc="assets/img/fourbank-logo.png" alt="fourbank-logo" height="16" width="181">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
  </div>

</div>
