
<nav class="navbar navbar-light bg-light">

  <span class="navbar-brand">
    <i class="bi bi-list" data-bs-toggle="offcanvas" href="#MainOffcanvasMenu" role="button" aria-controls="offcanvasMenu"></i>
    <img ngSrc="assets/img/fourbank-logo.png" alt="fourbank-logo" height="16" width="181">
  </span>
  <img id="nav-profile-picture" src="https://angular-material.fusetheme.com/images/avatars/male-04.jpg" alt="profile-picture"/>

</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="MainOffcanvasMenu" aria-labelledby="offcanvasContainer">

  <div class="offcanvas-header">
    <img ngSrc="assets/img/fourbank-logo.png" alt="fourbank-logo" height="16" width="181">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="row canvas-container">

      <div class="col-sm profile-info-container">
        <img src="https://angular-material.fusetheme.com/images/avatars/male-04.jpg" alt="profile-picture"/>
        <p>Heverton Andrade</p>
        <span>heverton.andrade&#64;deliverit.com.br</span>

        <div class="menu-items-container">
          <app-menu-items (logoutAction)="logout()"></app-menu-items>
        </div>
      </div>

    </div>
  </div>

</div>
