<div class="row balance-container">

  <div class="col-sm">
    <div class="row h-100">
      <app-saldo-card
        [title]="cardOne.title"
        [subTitle]="cardOne.subTitle"
        [cardValue]="cardOne.cardValue"
        [menuActions]="cardOne.menuActions">
      </app-saldo-card>

      <app-saldo-card
        [title]="cardTwo.title"
        [subTitle]="cardTwo.subTitle"
        [cardValue]="cardTwo.cardValue"
        [menuActions]="cardTwo.menuActions">
      </app-saldo-card>
    </div>
  </div>


  <div class="col-sm balance-withdraw-box">
    <div class="row">

      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-12">
            <p>title</p>
            <p>Sub title</p>
          </div>

          <div class="col-sm-6">
            <p>1</p>
          </div>

          <div class="col-sm-6">
            <p>2</p>
          </div>

        </div>
      </div>

      <div class="col-sm-12 p-0">
        <p>Wave</p>
      </div>

    </div>
  </div>

</div>
