<div class="row balance-container">

  <div class="col-sm">
    <div class="row h-100">
      <app-saldo-card
        [title]="cardOne.title"
        [subTitle]="cardOne.subTitle"
        [cardValue]="cardOne.cardValue"
        [menuActions]="cardOne.menuActions">
      </app-saldo-card>

      <app-saldo-card
        [title]="cardTwo.title"
        [subTitle]="cardTwo.subTitle"
        [cardValue]="cardTwo.cardValue"
        [menuActions]="cardTwo.menuActions">
      </app-saldo-card>
    </div>
  </div>

  <div class="col-sm balance-withdraw-box">
    <div class="row">

      <div class="col-sm-12">
        <p>Title</p>
      </div>

      <div class="col-sm-12">
        <p>Prices</p>
      </div>

      <div class="col-sm-12 wave-container p-0">
        <p>Wave</p>
      </div>

    </div>
  </div>

</div>
