@use 'custom-theme' as *;

.cash-flow-container {
  margin-top: 1rem;
}

.cash-flow-box {
  box-shadow: $card-box-shadow;
  background-color: #fff;
  min-height: 300px;
  border-radius: 10px;
  padding: 1rem;

  & h1 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    color: $primary-dark;
    margin-bottom: 1rem;
  }

}

.donut-chart-labels-container {

  & .donut-chart-label {
    font-size: 0.7rem;
    font-weight: 500;
    color: $grey-one;
    margin: 2rem 0 0 0;
    padding: 0;
  }

  & .donut-chart-value {
    color: $primary-one;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  & .label-send {
    color: $primary-two;
  }

}
