$primary-one: #2172b8;
$primary-two: #79c7eb;
$primary-three: #D2DEEB;
$primary-four: #c1d8f0;
$primary-dark: #001F2B;


$grey-one: #363636;
$dark: #010A13;


$primary-info: #49aab9;
$primary-warn: #c8aa6e;
$primary-danger: #d44242;
$primary-success: #a1d586;
